<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="servidor_ing" value="192.168.201.8" />
    <add key="usuario_ing" value="calidad_" />
    <add key="pass_ing" value="4815162342" />
    <add key="base_ing" value="ingenieria" />
    <add key="base_manto" value="manto" />
    <add key="base_smed" value="smed" />
    <add key="base_balances" value="balances" />
    <add key="base_produccion" value="produccion" />
    <add key="base_olocuilta" value="olocuilta" />
    <add key="base_kanban" value="kanban" />
    <add key="base_calidad" value="calidad" />
    <add key="imagenes" value="Z:\Ingenieria\INFO_INGE_TEXOPS_\SAMS_PRECIOS\SAMS PRODUCCION\Imagenes\" />
    <add key="colorInicial" value="#FF47506C" />
    <add key="colorFont" value="White" />
    <add key="imagenUsuario" value="/imagenes/usuario.png" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>